# Output file:
cbs-variables-thesaurus.ttl

# My environment files
config/*
config-enabled*
!config/*.example
!config/.gitattributes
!.env.example
pyvenv.cfg
bin
lib
share

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vscode
.vscode/*

# macOS files
*.DS_Store

# others
.ipynb_checkpoints*